
<div class="homepage">

    
    <% if current_user%>
      <%= link_to "start chatting", rooms_path %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <%else%>
    <h1> Talk to someone </h1>
      you just need to <%= link_to "log in", new_user_session_path%>
      or <%= link_to "Sign up", new_user_registration_path%>
    <%end%>
</div>
