<h1>chats</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if current_user%>
  <%= link_to "start chatting", rooms_path %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<%else%>
  <%= link_to "log in", new_user_session_path%>
  <%= link_to "Sign up", new_user_registration_path%>
<%end%>